.keyboard {
	border: 1px #ccc solid;
	font-family: sans-serif;
	user-select: none;
}

.keyboard_row {
	margin: auto;
	clear: both;
}

.keyboard_key {
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 2em;
	height: 1.7em;
	padding-top: 0.4em;
	font-size: 1.2em;
	overflow: hidden;
	user-select: none;

}

.active {
}

.key_pressed {
}

.key2x {
	width: 4em;
}

.key3x {
	width: 6em;
}

.key_spacebar {
	width: 18em;
}
